/* block specific CSS goes here */
.user-list tr:nth-child(even) {
    background-color: #ededec;
}

.user-list table {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.user-list tr {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.user-list td, .user-list th {
    flex: 1;
}

.user-list th {
    flex: 1;
}

.user-list td, th {
    text-align: left;
    padding: 8px;
}