/* block specific CSS goes here */
.user-list tr:nth-child(even) {
    background-color: #F5F5F5;
    color: rgb(50, 50, 50);
}

.user-list table {
    display: flex;
    flex-direction: column;
}

.user-list .user-list-header {
    border: 1px solid rgb(232, 232, 232);
}

.user-list tr {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.user-list td, .user-list th {
    flex: 1;
}

.user-list .user-row:hover {
    transform: scale(1.02); 
}

.user-list td, th {
    text-align: left;
    padding: 8px;
}

